// Custom styles.

$color-warning: rgb(194, 5, 5);
.nav_bar {
    text-align: left;
    display: block;
    list-style: none;
    padding: 6px 12px;
    word-wrap: none;
    overflow: hidden;
    white-space: nowrap;
    ul {
      padding: 0;
      margin: 0;
      font-size: $font-smaller;
      .li_left {
        list-style: none;
        display: inline-block;
        cursor: pointer;
      }
      .header_btn {
        display: inline-block;
        .btn_text {
          font-style: normal;
          margin: 0;
          display: inline-block;
          text-transform: capitalize;
          font-family: $font-family;
          font-size: $font-smaller;
        }
        .btn_text:hover {
          font-weight: 400;
          text-decoration: underline;
        }
      }
      .access_token {
        resize: none;
        float: right;
        display: inline-flexbox;
        margin: 0px 5px;
      }
    }
  }