// Custom styles.
  .header_btn {
        display: inline-block;
        .btn_text {
          font-style: normal;
          margin: 0;
          display: inline-block;
          text-transform: capitalize;
        }
        .btn_text:hover {
          font-weight: 400;
          text-decoration: underline;
        }
    }
  .access_token {
        resize: none;
        float: right;
        display: inline-flexbox;
        margin: 0px 5px;
      }